@{
    this.ViewBag.Title = "404";
}

<section class="text-center">
    <p class="text-center text-danger">Page introuvable</p>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Retour à la page d'accueil</a>
</section>