@model Webzine.WebApplication.ViewModels.StyleTitresModel

@{
    this.ViewBag.Title = $"Titres de style {Model.Style.Libelle}";
}

<div class="container-fluid mt-4 mt-md-5">
    <div class="row">
        <!-- Contenu principal -->
        <div class="col-12 col-lg-10 mb-4">
            <h1 class="h2 mb-4">Titres ayant le style "@Model.Style.Libelle"</h1>
            <hr class="mb-4" />

            <partial name="~/Views/Shared/_TitreList.cshtml" for="@Model.Titres" />
        </div>

        <!-- Sidebar -->
        <div class="col-12 col-lg-2">
            @await Component.InvokeAsync("StylesSidebar")
        </div>
    </div>
</div>