@model Webzine.Entity.Artiste

@{
    this.ViewBag.Title = "Création d'un Artiste";
}

<h1 class="mb-4">Créer un artiste</h1>
<hr />

<form asp-controller="Artiste" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdArtiste" />
    <div class="row g-3">
        <div class="col-sm-12">
            <form-champ asp-for="Nom"></form-champ>

            <form-champ-area asp-for="Biographie"></form-champ-area>
        </div>
    </div>

    <div class="row g-3 align-items-center mb-3">
        <div class="col-sm-2 offset-sm-2">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
</form>
<br />
<a asp-controller="Artiste" asp-action="Index" class="text-decoration-none">Retour à l'administration des artistes</a>