@using Webzine.Entity;
@model ICollection<Artiste>

@{
    Artiste displayArtiste = new();
    this.ViewBag.Title = "Admnistration des Artistes";
}

<h1 class="mb-4">Artistes</h1>
<hr />
<a asp-action="Create" class="btn btn-primary"><b>+</b> Ajouter un nouvel artiste</a>
<br />
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-secondary">
            <tr class="border-0">
                <th class="border-0">@Html.DisplayNameFor(m => displayArtiste.Nom)</th>
                <th class="border-0 text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artiste in Model)
            {
                <tr>
                    <td>@artiste.Nom</td>
                    <td class="text-center">
                        <a asp-area="Administration" asp-controller="Artiste" asp-action="Edit" asp-route-id="@artiste.IdArtiste" class="btn btn-sm p-0 me-2 text-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-area="Administration" asp-controller="Artiste" asp-action="Delete" asp-route-id="@artiste.IdArtiste" class="btn btn-sm p-0 text-primary">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>