@model Webzine.Entity.Titre

@{
    this.ViewBag.Title = "Supprimer un titre";
}

<h1 class="mb-4">Supprimer un titre</h1>
<hr />

<form asp-controller="Titre" asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdTitre" />
    <p>
        Etes-vous sûr de vouloir supprimer le titre "@Model.Libelle" de @Model.Artiste.Nom ?
    </p>
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>
<br />
<a asp-controller="Titre" asp-action="Index" class="text-decoration-none">Retour à l'administration des titres</a>