<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
	<extensions>
		<add assembly="NLog.Loki" />
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- Console Target with Colors -->
		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${level:uppercase=true}:${longdate} -> ${message}">
			<highlight-word condition="level == LogLevel.Info" text="INFO" foregroundColor="Green" />
			<highlight-word condition="level == LogLevel.Warn" text="WARN" foregroundColor="Yellow" />
			<highlight-word condition="level == LogLevel.Error" text="ERROR" foregroundColor="Red" />
			<highlight-word condition="level == LogLevel.Fatal" text="FATAL" foregroundColor="White" backgroundColor="Red" />
		</target>

		<!-- Loki Target for Grafana -->
		<target name="loki" xsi:type="Loki"
				batchSize="200"
				taskDelayMilliseconds="500"
				endpoint="https://logs-YOUR_ENDPOINT.grafana.net"
				username="YOUR_USERNAME"
				password="YOUR_GRAFANA_CLOUD_LOKI_SECURITY_TOKEN"
				orderWrites="true"
				compressionLevel="noCompression"
				eventPropertiesAsLabels="false"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}">
			<label name="app" layout="YOUR_APP_NAME" />
			<label name="Level" layout="${level}" />
		</target>
		
		<target xsi:type="File" name="all-logs" fileName="log/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="min-warning-logs" fileName="log/min-warn/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Log all levels to console -->
		<logger name="*" minlevel="Info" writeTo="console" />

		<!-- Log Info and above to Loki -->
		<logger name="*" minlevel="Info" writeTo="loki" />
		
		<logger name="*" minlevel="Trace" writeTo="all-logs" />
		
		<logger name="*" minlevel="Warn" writeTo="min-warning-logs" />
	</rules>
</nlog>