@model List<Webzine.Entity.Style>

<h1>A propos</h1>
<p>Retrouvez les dernières pépites sur notre webzine.</p>

<h2>Styles</h2>
<ul class="container ps-4">
    @foreach (Webzine.Entity.Style style in Model)
    {
        <li>
            <a asp-controller="Titre" asp-action="Style" asp-route-nomStyle="@style.Libelle" class="text-decoration-none">@style.Libelle</a>
        </li>
    }
</ul>